

body {
    width: 90%;
    padding: 3em;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

ul li:first-child {
    margin-right: 40%;
}


li a {
    color: black;
    padding: 16px;
    text-decoration: none;
}
  

.project-cards {
    width: 20em;
    height: auto;
    border-radius: 0.5em;
    transition: 0.3s ease-in-out;
}

.project-cards:hover {
    transform: scale(1.1);
}


