img {
    height: auto;
    max-width: 100%;
    transition: transform .3s;
}

.thumbnail {
    max-height: 250px;
}

.thumbnail:hover {
    transform: scale(1.2);
}

.modal-dialog {
   max-width: 100%;
}

