.header {
    text-align: right;
}

.slide-menu ul {
    list-style: none;
}

.slide-menu ul li {
    display: inline-block;
}

.img-thumbnail {
    height: 200px;
	width: 200px;
}

img {
    height: auto;
    max-width: 100%;
    transition: transform .3s;
}

.thumbnail:hover {
    transform: scale(1.2);
}
