---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import IndexHeader from '../components/IndexHeader.astro';
---

<Layout title="andrew_nguyen_le | uknable">
    <IndexHeader></IndexHeader>

<div class="container"> 

    <Card title="sine_waves_tessellating"/>
    <Card title="waves_avoiding"/>
    <Card title="lerpotaxis"/>
    <Card title="rippling"/>
    <Card title="hyppertaxis"/>
    <Card title="sunray_noisey"/>
    <Card title="sunray_oscilley"/>
    <Card title="attacker_defender"/>
    <Card title="reflection_sea"/>
    <Card title="jigsaw_flower"/>
    
</div>

</Layout>

<style>
</style>
