---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import IndexHeader from '../components/IndexHeader.astro';
---

<Layout title="andrew_nguyen_le | uknable">
    <IndexHeader></IndexHeader>

<div class="container"> 

    <Card title="wavey_again"/>
    <Card title="floating_petals"/>
    <Card title="crazyrays"/>
    <Card title="sunray_oscilley"/>
    <Card title="attacker_defender"/>
    <Card title="order_chaos_flower"/>
    <Card title="bez_line_flower"/>
    <Card title="bezier_waves"/>
    <Card title="eye"/>
    <Card title="reflection_sea"/>
    <Card title="expanding_lines_pulse"/>
    <Card title="expanding_crazy_flower"/>
    <Card title="jigsaw_flower"/>
    <Card title="noise_waves"/>
    <Card title="sine_fish"/>
    <Card title="flower_noisey"/>
    <Card title="random_walk_return"/>
    
</div>

</Layout>

<style>
</style>
