---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="project-cards">
    <a href={title}>
        <div class="card-text">
            <h1>{title}</h1>
        </div>
    </a>
</div>
    
<style>
</style>
