---
const { name } = Astro.props;

---

<header>
    <nav>
        <ul>
            <li>
                <a href="../../index.html">←</a>
            </li>
            <li>
                {name}
            </li>
        </ul>
    </nav>
</header>